@page "/loginpage"
@using Blazored.LocalStorage
@using Genbrugsmarked.Service
@using Genbrugsmarked.Logic

@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject BrugerRepo BrugerRepo
@inject NavigationManager navManager



<PageTitle>LogInPage</PageTitle>

<h3>LogInPage</h3>


<div class="login-page-background">
    <div class="login-container">
        
        <h3>Log ind</h3>

        <!-- Formular til login-->
        <EditForm Model="@bruger" OnValidSubmit="OnClickLogin">
            <DataAnnotationsValidator/>

            <div class="form-floating-group">
                <InputText id="un" class="form-control" @bind-Value="bruger.Email" placeholder="Email"/>
                <label for="un">Email</label>
            </div>

            <div class="form-floating-group">
                <InputText id="pwd"
                           type="@PasswordType"
                           class="form-control"
                           @bind-Value="bruger.Password"
                           placeholder="Password"/>
                <label for="pwd">Adgangskode</label>
                <i class="bi bi-eye" @onclick="ToggleAdgangskodeVisibility">
                    </i>
            </div>

            <div style="text-align: center">
                <button type="submit" class="btn btn-primary">Log ind</button>
            </div>
        </EditForm>

        @if (!string.IsNullOrEmpty(errorText))
        {
            <div class="error-message">
                <span class="error-icon">⚠️</span>
                <span class="error-text">@errorText</span>
            </div>
        }
    </div>
</div>



@code {
    Bruger bruger = new();
    
    string errorText = "";
   
    bool visPassword = false;

    string PasswordType => visPassword ? "text" : "password";
    
    void ToggleAdgangskodeVisibility()
    {
        visPassword = !visPassword;
    }

    private async Task OnClickLogin()
    {
        Bruger? brugerObject = BrugerRepo.ValidLogin(bruger.Email, bruger.Password);

        if (brugerObject == null)
        {
            errorText = "Forkert email eller adgangskode, prøv igen";
        }
        else
        {
            await localStorage.SetItemAsync("Bruger", brugerObject);
            navManager.NavigateTo("/", forceLoad: true);
        }
    }
    

}