/* Login baggrund */
.login-page-background {
    min-height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Login-boks */
.login-container {
    max-width: 420px;
    width: 315px;
    margin: 5rem auto;
    background-color: #BBBBBB;
    padding: 2.5rem 2rem;
    border-radius: 14px;
    border: 1px solid #FFFFFF;

}


h3 {
    text-align: center;
    margin-bottom: 1.5rem;
}




/* Fejlbesked */
.error-message {
    background-color: #FFF4F4;
    border-left: 4px solid #E74C3C;
    color: #C0392B;
    font-size: 0.9rem;
    margin-top: 1rem;
    padding: 0.75rem 1rem;
    border-radius: 6px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 4px rgba(231, 76, 60, 0.1);
    transition: all 0.3s ease;
}

/* Hvis ingen fejl = skjul */
.error-message:empty {
    display: none;
}

/* Fejlikon */
.error-icon {
    margin-right: 0.75rem;
    font-size: 1rem;
    color: #E74C3C;
}

/* Fejltekst */
.error-text {
    flex: 1;
}
