@page "/loginpage"
@using Core.Modeller
@using Genbrugsmarked.Service

@inject NavigationManager navManager
@inject ILoginService loginService
@inject IUserSessionService userSessionService

<div class="login-page-background">
    <div class="login-container">

        <h3>Log ind</h3>

        <!-- Formular til login-->
        <EditForm Model="@loginModel" OnValidSubmit="OnClickLogin">

            <div class="form-floating-group">
                <InputText id="email" class="form-control" @bind-Value="loginModel.Email" placeholder="Email"/>
                <label for="email">Email</label>
            </div>

            <div class="form-floating-group">
                <InputText id="pwd"
                           type="password"
                           class="form-control"
                           @bind-Value="loginModel.Password"
                           placeholder="Password"/>
                <label for="pwd">Password</label>
                
            </div>

            <div style="text-align: center">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </EditForm>

        @if (!string.IsNullOrEmpty(errorText))
        {
            <div class="error-message">
                <span class="error-text">@errorText</span>
            </div>
        }
    </div>
</div>

@code {
    UserLogin loginModel = new();
    
    string errorText = "";

    private async Task OnClickLogin()
    {
        errorText = string.Empty;

        var user = await loginService.Login(loginModel);

        if (user == null)
        {
            errorText = "Forkert email eller password";
        }
        else
        {
            await userSessionService.SetUserAsync(user);
            navManager.NavigateTo("/", forceLoad: true);
        }
    }
}

