@page "/loginpage"
@using Blazored.LocalStorage
@using Genbrugsmarked.Service
@using Genbrugsmarked.Logic

@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject NavigationManager navManager



<PageTitle>Log Ind</PageTitle>

<h3>Log Ind</h3>


<div class="login-page-background">
    <div class="login-container">
        
        <h3>Log ind</h3>
        
        
    </div>
</div>



@code {
    
}