@inject NavigationManager NavManager

<nav class="top-nav">
    <div class="brand">
        Genbrugsmarked
    </div>
  
    <div class="nav-buttons">
        <button class="nav-btn" @onclick='() => NavigateTo("/")'>Markedsplads</button>
        <button class="nav-btn" @onclick='() => NavigateTo("/opretannonce")'>OpretAnnonce</button>
        <button class="nav-btn" @onclick='() => NavigateTo("/minekøb")'>MineKøb</button>
        <button class="nav-btn" @onclick='() => NavigateTo("/loginpage")'>LogInd</button>
    </div>
</nav>

@code {
    private void NavigateTo(string url)
    {
        NavManager.NavigateTo(url);
    }
}